@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #C4D1F1;
    font-family: 'poppins', sans-serif;
}

.container {
    padding: 25px;
    width: 420px;
    background: #ffffff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 410px;
    overflow: hidden;
}

.container .music-info {
    height: 100px;
    width: 100%;
    background: rgba(255, 207, 84, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    padding: 23px;
    padding-left: 170px;
    font-size: 14.5px;
    text-transform: capitalize;
}

.container .music-info h4 {
    font-weight: 500;
    margin-top: 6px;
    color: dimgrey;
    white-space: nowrap;
}

.container .music-info h4 span {
    color: #5467FF;
    word-break: break-all;
    word-wrap: break-word;
}

.container .img-box {
    height: 110px;
    width: 110px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 1;
    position: absolute;
    margin-top: 23px;
}

.container .img-box img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.container .btns-box {
    height: 70px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    margin-top: 90px;
    margin-right: -10px;
}

.container .btns-box button {
    all: unset;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 1px solid #5467FF;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 14px;
    color: #5467FF;
    cursor: pointer;
    position: relative;
    left: -5px;
    font-size: 13px;
}

.container .btns-box .play-pause-btn {
    background: #5467FF;
    color: white;
    height: 45px;
    width: 45px;
    font-size: 15px;
}

/* silder */
.container .waveform-box #song-slider {
    all: unset;
    height: 3px;
    width: 235px;
    background: rgba(151, 168, 255, 0.213);
    margin-left: -6px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
}

.container .waveform-box #song-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2px;
    width: 10px;
    background: #2600ffb1;
    border-radius: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

/* wavesurfer */
.container .waveform-box {
    position: absolute;
    top: 195px;
    padding: 65px 35px 35px ;
    height: 100px;
    display: flex;
    align-items: center;
}

.container .waveform-box .current-time {
    position: relative;
    left: -10px;
    font-size: 13px;
    color: #31456A;
    padding-right: 10px;
    margin-top: 2.5rem;
}

.container .waveform-box .total-time {
    position: relative;
    left: 10px;
    font-size: 13px;
    color: #31456A;
    padding-left: 10px;
    margin-top: 2.5rem;
}

.container .waveform-box #waveform {
    height: 102px;
    width: 235px;
}

.rotate {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* volume box */

.container .volume-box {
    height: 60px;
    width: 300px;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 290px;
    bottom: 20px;
    padding-right: 0px;
}

.container .volume-box .volume-icon {
    font-size: 20px;
    color: #31456A;
    position: relative;
    left: -25px;
    cursor: pointer;
}

.container .volume-box .volume-btn {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    position: relative;
    left: -14px;
    background: rgba(84, 103, 255, 0.2);
}

.container .volume-box .volume-incre {
    margin-left: 22px;
}

.container .volume-box input {
    all: unset;
    height: 3px;
    width: 130px;
    background: lightgrey;
    margin-left: -6px;
    cursor: pointer;
}

.container .volume-box input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #5467FF;
    border-radius: 100%;
    cursor: pointer;
}

::selection {
    background: rgb(100, 149, 237, 0.8);
    color: white;
}

/* download */

.container .music-info .download-btn {
    margin-top: 8px;
}

.container .music-info .download-button {
    background: rgb(105, 105, 255);
    color: #ffffff;
    font-weight: 600;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 11px;
}

.container .music-info .download-button i {
    margin-right: 5px;
} 

/* control buttons */

.container .controls-bottom {
    position: relative;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 6px;
    margin-top: -10px;
}

.container .controls-bottom button {
    background-color: transparent;
    color: rgba(105, 105, 105, 0.65);
    border: none;
    font-size: 18px;
    font-weight: 900;
    padding: 6px;
    cursor: pointer;
}

.container .controls-bottom button:hover i{
    color: #000000;
}

.container .controls-bottom button.active {
    color: #0000FF;
}

/* instructions */

.container .instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin-top: 16rem;
    font-size: 10.5px;
    font-style: unset;
    font-weight: 700;
    color: #31456a7f;
    transition: all .2s;
    cursor:default;
}

.container .instructions:hover{
    color: #31456a;
}